<template>
  <div>
    <el-card class="item-card">
      <div class="title-content">
        <div class="title">筛选操作</div>
        <div class="count">总数：{{ count }}</div>
      </div>
      <el-form :inline="true">
        <el-form-item>
          <el-select
            v-model="searchForm.dateSelected"
            multiple
            placeholder="请选择时间"
            @change="getList"
          >
            <el-option
              v-for="item in options"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-select
            v-model="searchForm.userStatus"
            placeholder="用户状态"
            @change="getList"
          >
            <el-option
              v-for="item in userOptions"
              :key="item.value"
              :label="item.label"
              :value="item.value"
            />
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-select
            v-model="searchForm.fillStatus"
            placeholder="用户状态"
            @change="getList"
          >
            <el-option label="所有状态" value="-1" />
            <el-option label="停用" value="0" />
            <el-option label="启用" value="1" />
          </el-select>
        </el-form-item>
        <el-form-item>
          <el-switch
            v-model="searchForm.invert"
            active-color="#13ce66"
            inactive-color="#ff4949"
            active-text="反选"
            inactive-text="正选"
            @change="getList"
          />
        </el-form-item>
        <el-form-item>
          <el-button type="danger" @click="stopSelectedUser">停用</el-button>
          <el-button type="success" @click="startSelectedUser">启用</el-button>
        </el-form-item>
      </el-form>
      <div class="user-content">
        <template v-for="item in selectedUserList">
          <el-tag
            v-if="item.u_status === 2"
            :key="item.u_id"
            class="my-tag"
            type="danger"
          >{{ item.stuNum }}</el-tag
          >
          <el-tag
            v-else-if="item.t_status === 0"
            :key="item.u_id"
            class="my-tag"
            type="warning"
          >{{ item.stuNum }}</el-tag
          >
          <el-tag v-else :key="item.u_id" class="my-tag" type="primary">{{
            item.stuNum
          }}</el-tag>
        </template>
      </div>
    </el-card>
    <div
      class="footer"
      style="color: black"
      onclick="window.location.href='https://beian.miit.gov.cn/';return false"
    >
      冀ICP备2021008346号
    </div>
  </div>
</template>

<script>
import usermanage from '@/api/usermanage'
export default {
  data() {
    return {
      options: [],
      searchForm: {
        dateSelected: '',
        invert: true,
        userStatus: '-1',
        fillStatus: '-1'
      },
      userOptions: [
        { label: '所有用户', value: '-1' },
        { label: '正常用户', value: '1' },
        { label: '禁用用户', value: '2' },
        { label: '拒绝用户', value: '3' }
      ],
      fillOptions: [
        { label: '所有状态', value: '-1' },
        { label: '停用', value: '0' },
        { label: '启用', value: '1' }
      ],
      selectedUserList: [],
      count: 0
    }
  },
  beforeMount() {
    this.init()
  },
  methods: {
    init() {
      var options = this.options
      var date = new Date()
      var year = date.getFullYear()
      for (var i = 2018; i <= year; i++) {
        var item = {
          value: i,
          label: i.toString()
        }
        options.unshift(item)
      }
    },
    getList() {
      var userQuery = this.searchForm
      usermanage.getUserListByAdvanced(userQuery).then((response) => {
        if (response.code === 20000) {
          this.selectedUserList = response.data.content
          this.count = response.data.count
        }
      })
    },
    stopSelectedUser() {
      var userQuery = this.selectedUserList
      this.$confirm('此操作将禁用所选中的用户, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(() => {
          usermanage.stopSelectedUser(userQuery).then((response) => {
            if (response.code === 20000) {
              this.$message({
                type: 'success',
                message: '禁用成功!'
              })
              this.getList()
            }
          })
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: '已取消禁用'
          })
        })
    },
    startSelectedUser() {
      var userQuery = this.selectedUserList
      this.$confirm('此操作将启用所选中的用户, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(() => {
          usermanage.startSelectedUser(userQuery).then((response) => {
            if (response.code === 20000) {
              this.$message({
                type: 'success',
                message: '启用成功!'
              })
              this.getList()
            }
          })
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: '已取消启用'
          })
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.item-card {
  width: 96%;
  height: fit-content;
  margin: 20px auto;
  .title-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .title {
      font-size: 20px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    .count {
    }
  }
}
.user-content {
  border: 1px solid #ebebeb;
  .el-tag {
    margin: 10px;
  }
}
</style>
