<template>
  <div>
    <!-- 搜索用户信息区域 -->
    <el-card>
      <div class="flex-my">
        <div class="form-search" style="margin-left: 14px">
          <el-form ref="searchRef" :inline="true" :model="searchForm">
            <el-form-item>
              <el-input
                v-model="searchForm.username"
                clearable
                placeholder="用户名称"
                @clear="clearSearch"
              />
            </el-form-item>
            <el-form-item>
              <el-button
                type="primary"
                @click="onSearch('searchRef')"
              >查询</el-button
              >
            </el-form-item>
            <el-form-item>
              <el-switch
                v-model="adminInfo.status"
                active-text="启用管理员审核注册"
                inactive-text="禁用管理员审核注册"
                @change="switchChange"
              />
            </el-form-item>
            <!-- <el-form-item>
              <el-button type="primary" @click="startTest()">启用测试</el-button>
              <el-button type="primary" @click="endTest()">关闭测试</el-button>
            </el-form-item> -->
          </el-form>
        </div>
      </div>
    </el-card>
    <!-- 用户信息表格卡片显示区域 -->
    <el-card class="table-box">
      <el-table :data="list" border style="width: 100%">
        <el-table-column prop="id" label="ID" />
        <el-table-column prop="username" label="用户名称" />
        <el-table-column prop="stuNum" label="体温账户" />
        <el-table-column prop="pwd" label="密码位数">
          <template slot-scope="scope">
            <el-tag v-if="scope.row.pwd.length >= 12" type="success">{{
              scope.row.pwd.length
            }}</el-tag>
            <el-tag v-else type="danger">{{ scope.row.pwd.length }}</el-tag>
          </template>
        </el-table-column>
        <el-table-column prop="status" label="用户状态">
          <template slot-scope="scope">
            <el-tag v-if="scope.row.status === 0" type="info">待审核</el-tag>
            <el-tag
              v-else-if="scope.row.status === 1"
              type="success"
            >正常</el-tag
            >
            <el-tag
              v-else-if="scope.row.status === 2"
              type="danger"
            >已禁用</el-tag
            >
          </template>
        </el-table-column>
        <el-table-column prop="u_status" label="自动填报">
          <template slot-scope="scope">
            <el-tag v-if="scope.row.u_status === 0" type="danger">停用</el-tag>
            <el-tag
              v-else-if="scope.row.u_status === 1"
              type="success"
            >启用</el-tag
            >
          </template>
        </el-table-column>
        <el-table-column prop="create_time" label="注册时间" />
        <el-table-column prop="insert_time" label="最近填报时间" />
        <el-table-column label="操作">
          <template slot-scope="scope">
            <el-button
              v-if="scope.row.status === 0"
              type="primary"
              size="small"
              @click="passUser(scope.row.id)"
            >通过审核</el-button
            >
            <el-button
              v-if="scope.row.status === 1"
              type="danger"
              size="small"
              @click="disableUser(scope.row.id)"
            >禁用</el-button
            >
            <el-button
              v-if="scope.row.status === 2"
              type="success"
              size="small"
              @click="enableUser(scope.row.id)"
            >启用</el-button
            >
          </template>
        </el-table-column>
      </el-table>
      <div class="page">
        <el-pagination
          :current-page="page"
          :page-sizes="[10, 15, 20]"
          :page-size="pageSize"
          :total="total"
          layout="total, sizes, prev, pager, next, jumper"
          background=""
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </div>
    </el-card>
    <div
      class="footer"
      style="color: black"
      onclick="window.location.href='https://beian.miit.gov.cn/';return false"
    >
      冀ICP备2021008346号
    </div>
  </div>
</template>

<script>
import usermanage from '@/api/usermanage'
export default {
  data() {
    return {
      page: 1,
      pageSize: 15,
      total: 0,
      list: null,
      searchForm: {
        username: ''
      },
      adminInfo: {
        status: null
      }
    }
  },
  created() {
    this.getList()
    this.getAdminInfo()
  },
  methods: {
    startTest() {
      usermanage.startTest().then((response) => {
        if (response.code === 20000) {
          this.$message({
            type: 'success',
            message: '已开启测试模式'
          })
          this.getList()
        } else {
          this.$message({
            type: 'warning',
            message: '测试模式开启失败'
          })
        }
      })
    },
    endTest() {
      usermanage.endTest().then((response) => {
        if (response.code === 20000) {
          this.$message({
            type: 'success',
            message: '已关闭测试模式'
          })
          this.getList()
        } else {
          this.$message({
            type: 'warning',
            message: '测试模式关闭失败'
          })
        }
      })
    },
    getAdminInfo() {
      usermanage.getAdminInfo().then((response) => {
        if (response.data.status === 1) {
          this.adminInfo.status = true
        } else {
          this.adminInfo.status = false
        }
      })
    },
    switchChange() {
      if (this.adminInfo.status === true) {
        this.adminInfo.status = 1
      } else {
        this.adminInfo.status = 0
      }
      usermanage.editAdminInfo(this.adminInfo).then((response) => {
        if (response.code === 20000) {
          if (this.adminInfo.status === 1) {
            this.$message({
              type: 'success',
              message: '已启用管理员审核注册！'
            })
          } else {
            this.$message({
              type: 'warning',
              message: '已禁用管理员审核注册！'
            })
          }
          this.getAdminInfo()
        } else {
          this.$message({
            type: 'warn',
            message: '管理员审核注册修改失败！'
          })
        }
      })
    },
    passUser(userId) {
      usermanage.passUser(userId).then((response) => {
        if (response.code === 20000) {
          this.$message({
            type: 'success',
            message: '已通过该用户的注册请求！'
          })
          this.getList()
        } else {
          this.$message({
            type: 'info',
            message: response.message
          })
          this.getList()
        }
      })
    },
    enableUser(userId) {
      usermanage.enableUser(userId).then((response) => {
        if (response.code === 20000) {
          this.$message({
            type: 'success',
            message: '已启用该用户'
          })
          this.getList()
        } else {
          this.$message({
            type: 'info',
            message: response.message
          })
          this.getList()
        }
      })
    },
    disableUser(userId) {
      this.$confirm('此操作将禁用该用户, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      })
        .then(() => {
          usermanage.disableUser(userId).then((response) => {
            if (response.code === 20000) {
              this.$message({
                type: 'success',
                message: '已禁用该用户!'
              })
              this.getList()
            } else {
              this.$message({
                type: 'info',
                message: '禁用失败!'
              })
            }
          })
        })
        .catch(() => {
          this.$message({
            type: 'info',
            message: '已取消禁用！'
          })
        })
    },
    clearSearch() {
      this.getList()
    },
    onSearch(refName) {
      this.getList()
    },
    getList() {
      usermanage
        .getUserList(this.page, this.pageSize, this.searchForm)
        .then((response) => {
          this.total = response.data.total
          this.list = response.data.list
        })
    },
    handleSizeChange(size) {
      this.pageSize = size
      this.getList()
    },
    handleCurrentChange(page) {
      this.page = page
      this.getList()
    }
  }
}
</script>

<style lang="scss" scoped>
.table-box {
  width: 95%;
  margin-left: 2.5%;
  margin-top: 10px;
}
.flex-my {
  display: flex;
  justify-content: space-between;
}
.form-search {
  padding-top: 15px;
}
.page {
  margin-top: 10px;
}
</style>
