// mobie-scss
@media only screen and (max-width:1080px) {
    .my-dialog .el-dialog{
        width: 90%;
    } 
}
// pc-scss
@media only screen and (min-width:1081px) {
    .my-dialog .el-dialog{
        width: 30%;
    }
}