<template>
  <div class="dashboard-container">
    <h3>点击左侧菜单栏选择功能，体温系统将于每天的12点定期填报两个36°~37°之间的温度，并发送一封邮件提醒，由于目前本项目的功能正在完善期，如果出现问题请先检查用户名及密码是否填写正确，以及自动填报的选项是否打开，如果还存在问题请邮件联系1643317686@qq.com</h3>
    <div class="footer" style="color:black;" onclick="window.location.href='https://beian.miit.gov.cn/';return false">冀ICP备2021008346号</div>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Dashboard',
  computed: {
    ...mapGetters([
      'name',
      'roles'
    ])
  }
}
</script>

<style rel="stylesheet/scss" lang="scss" scoped>
.dashboard {
  &-container {
    margin: 30px;
  }
  &-text {
    font-size: 30px;
    line-height: 46px;
  }
}
</style>
