<template>
  <div>
    <!-- 体温用户信息区域 -->
    <el-card>
      <el-form :inline="true" :model="userInfo">
        <el-form-item label="用户名">
          <el-input
            v-model="userInfo.stuNum"
            :readonly="true"
            placeholder="用户名"
          />
        </el-form-item>
        <el-form-item>
          <el-switch
            v-model="userInfo.status"
            active-text="启动自动填报"
            inactive-text="停止自动填报"
            @change="switchChange"
          />
        </el-form-item>
        <el-form-item>
          <el-button
            :disabled="disEditUserBtn"
            type="primary"
            @click="editTempUserInfo"
          >修改用户信息</el-button
          >
        </el-form-item>
      </el-form>
    </el-card>
    <!-- 体温表单区域 -->
    <el-card>
      <el-table :data="list" border style="width: 100%">
        <el-table-column type="index" />
        <el-table-column prop="temp_morning" label="早上体温" />
        <el-table-column prop="temp_noon" label="中午体温" />
        <el-table-column prop="insert_time" label="填报日期" />
      </el-table>
      <div class="page">
        <el-pagination
          :current-page="page"
          :page-sizes="[10, 15, 20]"
          :page-size="pageSize"
          :total="total"
          layout="total, sizes, prev, pager, next, jumper"
          background=""
          @size-change="handleSizeChange"
          @current-change="handleCurrentChange"
        />
      </div>
    </el-card>
    <!-- 编辑体温用户信息区域 -->
    <el-dialog
      :visible.sync="editUserInfoDialogVisible"
      title="修改用户信息"
      class="my-dialog"
    >
      <el-form
        ref="editUserInfoRef"
        :model="editUserInfoForm"
        :rules="editUserInfoRules"
        label-width="80px"
      >
        <el-form-item label="用户名" required>
          <el-input v-model="editUserInfoForm.stuNum" />
        </el-form-item>
        <el-form-item label="密码" required>
          <el-input v-model="editUserInfoForm.pwd" />
        </el-form-item>
        <el-form-item label="邮箱地址" required prop="mail">
          <el-input v-model="editUserInfoForm.mail" />
        </el-form-item>
        <el-form-item>
          <el-button
            type="primary"
            @click.native.prevent="doEditUserInfo('editUserInfoRef')"
          >立即提交</el-button
          >
          <el-button
            @click="cancelEditUserInfo('editUserInfoRef')"
          >取消</el-button
          >
        </el-form-item>
      </el-form>
    </el-dialog>
    <!-- 添加体温用户信息区域 -->
    <el-dialog
      :visible.sync="showUserInfoDialogVisible"
      class="my-dialog"
      title="添加用户信息"
    >
      <el-form
        ref="addUserInfoRef"
        :model="addUserInfoForm"
        :rules="addUserInfoRules"
        label-width="80px"
      >
        <el-form-item label="用户名" required>
          <el-input
            v-model="addUserInfoForm.stuNum"
            placeholder="请输入科大体温收集系统账号"
          />
        </el-form-item>
        <el-form-item label="密码" required>
          <el-input
            v-model="addUserInfoForm.pwd"
            placeholder="请输入科大体温收集系统密码"
          />
        </el-form-item>
        <el-form-item label="邮箱地址" required prop="mail">
          <el-input
            v-model="addUserInfoForm.mail"
            placeholder="请输入可以正常接收邮件的邮箱"
          />
        </el-form-item>
        <el-form-item>
          <el-button
            type="primary"
            @click.native.prevent="doAddUserInfo('addUserInfoRef')"
          >立即提交</el-button
          >
          <el-button
            @click="cancelAddUserInfo('addUserInfoRef')"
          >取消</el-button
          >
        </el-form-item>
      </el-form>
    </el-dialog>

    <div
      class="footer"
      style="color: black"
      onclick="window.location.href='https://beian.miit.gov.cn/';return false"
    >
      冀ICP备2021008346号
    </div>
  </div>
</template>

<script>
import temp from '@/api/temperature'
import { isvalidMail } from '@/utils/validate'
export default {
  data() {
    const validateMail = (rule, value, callback) => {
      if (!isvalidMail(value)) {
        callback(new Error('请输入正确的邮箱'))
      } else {
        callback()
      }
    }
    return {
      page: 1,
      pageSize: 15,
      total: 0,
      list: null,
      userInfo: {
        id: null,
        stuNum: '',
        pwd: '',
        status: null
      },
      addUserInfoForm: {
        stuNum: '',
        pwd: '',
        mail: ''
      },
      editUserInfoForm: {
        id: null,
        stuNum: '',
        pwd: '',
        mail: '',
        status: null
      },
      addUserInfoRules: {
        mail: [
          { required: true, message: '请输入邮箱地址', trigger: 'blur' },
          { required: true, trigger: 'blur', validator: validateMail }
        ]
      },
      editUserInfoRules: {
        mail: [
          { required: true, message: '请输入邮箱地址', trigger: 'blur' },
          { required: true, trigger: 'blur', validator: validateMail }
        ]
      },
      disEditUserBtn: false,
      editUserInfoDialogVisible: false,
      showUserInfoDialogVisible: false
    }
  },
  created() {
    this.getUserInfo()
    this.getList()
  },
  methods: {
    switchChange() {
      if (this.userInfo.status === true) {
        this.userInfo.status = 1
      } else {
        this.userInfo.status = 0
      }
      temp.editUserInfo(this.userInfo).then((response) => {
        if (response.code === 20000) {
          if (this.userInfo.status === 1) {
            this.$message({
              type: 'success',
              message: '已启动自动填报！'
            })
          } else {
            this.$message({
              type: 'warning',
              message: '已停止自动填报！'
            })
          }
          this.getUserInfo()
        } else {
          this.$message({
            type: 'warn',
            message: '自动填报修改失败！'
          })
        }
      })
    },
    getList() {
      temp.getList(this.page, this.pageSize).then((response) => {
        this.list = response.data.list
        this.total = response.data.total
      })
    },
    handleSizeChange(size) {
      this.pageSize = size
      this.getList()
    },
    handleCurrentChange(page) {
      this.page = page
      this.getList()
    },
    getUserInfo() {
      temp.getUserInfo().then((response) => {
        if (response.code !== 20000) {
          this.disEditUserBtn = true
          this.showUserInfoDialogVisible = true
        } else {
          this.userInfo = response.data
          if (this.userInfo.status === 1) {
            this.userInfo.status = true
          } else {
            this.userInfo.status = false
          }
        }
      })
    },
    editTempUserInfo() {
      this.editUserInfoForm = this.userInfo
      this.editUserInfoDialogVisible = true
    },
    doEditUserInfo(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          temp.editUserInfo(this.editUserInfoForm).then((response) => {
            if (response.code === 20000) {
              this.$message({
                type: 'success',
                message: '用户修改成功！'
              })
              this.getUserInfo()
              this.$refs[formName].resetFields()
              this.editUserInfoDialogVisible = false
            } else {
              this.$message({
                type: 'warning',
                message: '用户或密码错误，请验证后再输入！'
              })
            }
          })
        }
      })
    },
    cancelEditUserInfo(formName) {
      this.$refs[formName].resetFields()
      this.editUserInfoDialogVisible = false
    },
    doAddUserInfo(formName) {
      this.$refs[formName].validate((valid) => {
        if (valid) {
          temp.addUserInfo(this.addUserInfoForm).then((response) => {
            if (response.code === 20000) {
              this.$message({
                type: 'success',
                message: '用户添加成功！'
              })
              this.getUserInfo()
              this.$refs[formName].resetFields()
              this.showUserInfoDialogVisible = false
            } else {
              this.$message({
                type: 'warning',
                message: '用户或密码错误，请验证后再输入！'
              })
            }
          })
        }
      })
    },
    cancelAddUserInfo(formName) {
      this.$refs[formName].resetFields()
      this.showUserInfoDialogVisible = false
    }
  }
}
</script>

<style>
</style>
