<template>
  <div>
    <div>history</div>
    <div
      class="footer"
      style="color: black"
      onclick="window.location.href='https://beian.miit.gov.cn/';return false"
    >
      冀ICP备2021008346号
    </div>
  </div>
</template>

<script>
export default {}
</script>

<style>
</style>
