<template>
  <div>
    <!-- 发送邮件的操作区域 -->
    <el-card>
      <div class="my-container">
        <div class="my-left">
          <el-form :inline="true" :model="searchForm">
            <el-form-item label="用户状态">
              <el-select
                v-model="searchForm.userStatus"
                placeholder="用户状态"
                @change="userStatusChange"
              >
                <el-option
                  v-for="item in userOptions"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value"
                />
              </el-select>
            </el-form-item>
            <el-form-item label="自动填报状态">
              <el-select
                v-model="searchForm.fillStatus"
                placeholder="用户状态"
                @change="fillStatusChange"
              >
                <el-option label="所有状态" value="-1" />
                <el-option label="停用" value="0" />
                <el-option label="启用" value="1" />
              </el-select>
            </el-form-item>
          </el-form>
          <el-input
            :rows="12"
            v-model="messageOption.textarea"
            type="textarea"
            placeholder="请输入要发送的内容"
            class="input-box"
          />
          <el-form :inline="true" :model="messageOption">
            <el-form-item label="选择模板">
              <el-select
                v-model="messageOption.templateId"
                placeholder="选择模板"
                @change="templateChange"
              >
                <el-option
                  v-for="item in templateOptions"
                  :key="item.id"
                  :label="item.title"
                  :value="item.id"
                />
              </el-select>
            </el-form-item>
            <el-form-item>
              <el-button
                type="primary"
                @click="saveAsTemplate"
              >保存为模板</el-button
              >
              <el-button type="success" @click="sendMessage">发送</el-button>
            </el-form-item>
          </el-form>
        </div>
        <div class="my-right">
          <div class="box">
            <template v-for="item in selectedUserList">
              <el-tag
                v-if="item.u_status === 3"
                :key="item.u_id"
                class="my-tag"
                type="danger"
              >{{ item.username }}</el-tag
              >
              <el-tag
                v-else-if="item.t_status === 0"
                :key="item.u_id"
                class="my-tag"
                type="warning"
              >{{ item.username }}</el-tag
              >
              <el-tag v-else :key="item.u_id" class="my-tag" type="primary">{{
                item.username
              }}</el-tag>
            </template>
          </div>
        </div>
      </div>
    </el-card>
    <!-- 保存模板的标题弹窗 -->
    <el-dialog
      :visible.sync="saveDialogVisible"
      :before-close="handleSaveDialogClose"
      title="保存为模板"
      width="40%"
    >
      <div class="save-template-item">
        <label v- class="my-label">请输入标题</label>
        <el-input
          v-model="messageOption.title"
          placeholder="请输入标题"
          class="my-input"
        />
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="cancelSaveAsTemplate">取 消</el-button>
        <el-button type="primary" @click="doSaveAsTemplate">确 定</el-button>
      </span>
    </el-dialog>

    <div
      class="footer"
      style="color: black"
      onclick="window.location.href='https://beian.miit.gov.cn/';return false"
    >
      冀ICP备2021008346号
    </div>
  </div>
</template>

<script>
import message from '@/api/message'
export default {
  data() {
    return {
      searchForm: {
        userStatus: '-1',
        fillStatus: '-1'
      },
      messageOption: {
        textarea: '',
        templateId: '',
        title: ''
      },
      userOptions: [
        { label: '所有用户', value: '-1' },
        { label: '正常用户', value: '1' },
        { label: '禁用用户', value: '3' }
      ],
      fillOptions: [
        { label: '所有状态', value: '-1' },
        { label: '停用', value: '0' },
        { label: '启用', value: '1' }
      ],
      templateOptions: [],
      selectedUserList: [],
      saveDialogVisible: false
    }
  },
  mounted() {
    this.getSelectedUser()
    this.getTemplateList()
  },
  methods: {
    doSaveAsTemplate() {
      message
        .saveAsTemplate(this.messageOption.title, this.messageOption.textarea)
        .then((response) => {
          if (response.code === 20000) {
            this.$message({
              type: 'success',
              message: '已生成模板'
            })
          }
        })
      this.saveDialogVisible = false
    },
    cancelSaveAsTemplate() {
      this.saveDialogVisible = false
    },
    handleSaveDialogClose() {},
    saveAsTemplate() {
      this.saveDialogVisible = true
    },
    sendMessage() {
      message
        .sendMessage(this.selectedUserList, this.messageOption.textarea)
        .then((response) => {})
    },
    getTemplateList() {
      message.getTemplateList().then((response) => {
        this.templateOptions = response.data
      })
    },
    templateChange() {
      message
        .getMessageContent(this.messageOption.templateId)
        .then((response) => {
          this.messageOption.textarea = response.data
        })
    },
    userStatusChange() {
      this.getSelectedUser()
    },
    fillStatusChange() {
      this.getSelectedUser()
    },
    getSelectedUser() {
      message
        .getSelectedUser(this.searchForm.userStatus, this.searchForm.fillStatus)
        .then((response) => {
          this.selectedUserList = response.data
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.my-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: left;
  .my-left {
    width: 60%;
    margin-left: 5%;
    // border: 1px solid red;
    .input-box {
      width: 96%;
      margin-bottom: 10px;
    }
  }
  .my-right {
    width: 30%;
    .box {
      display: flexbox;
      .my-tag {
        margin: 3px;
      }
    }
  }
}
.save-template-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: left;
  text-align: center;
  .my-label {
    padding-top: 10px;
    width: 100px;
  }
  .my-input {
    width: 300px;
  }
}
</style>>

