<template>
  <div class="login-container">
    <!-- 登录信息区域 -->
    <el-form v-if="showLogin" ref="loginForm" :model="loginForm" :rules="loginRules" class="login-form" label-position="left">
      <h3 class="title">信息管理系统</h3>
      <el-form-item key="1" prop="username">
        <span class="svg-container">
          <svg-icon icon-class="user" />
        </span>
        <el-input v-model="loginForm.username" name="username" type="text" placeholder="username" />
      </el-form-item>
      <el-form-item key="2" prop="password">
        <span class="svg-container">
          <svg-icon icon-class="password" />
        </span>
        <el-input
          :type="pwdType"
          v-model="loginForm.password"
          name="password"

          placeholder="password"
          @keyup.enter.native="handleLogin" />
        <span class="show-pwd" @click="showPwd">
          <svg-icon icon-class="eye" />
        </span>
      </el-form-item>
      <el-form-item>
        <el-button :loading="loading" type="primary" style="width:100%;" @click.native.prevent="handleLogin">
          登录
        </el-button>
      </el-form-item>
      <div class="tips">
        <span style="cursor:pointer" @click="clickRegistered">注册新用户</span>
      </div>
    </el-form>
    <!-- 注册信息区域 -->
    <el-form v-else ref="registerForm" :model="registerForm" :rules="registerRules" class="login-form" label-position="left">
      <h3 class="title">体温管理系统</h3>
      <el-form-item key="3" prop="username">
        <span class="svg-container">
          <svg-icon icon-class="user" />
        </span>
        <el-input v-model="registerForm.username" name="username" type="text" placeholder="username" />
      </el-form-item>
      <el-form-item key="4" prop="password">
        <span class="svg-container">
          <svg-icon icon-class="password" />
        </span>
        <el-input v-model="registerForm.password" name="password" type="text" placeholder="password" />
      </el-form-item>
      <el-form-item key="5" prop="repassword">
        <span class="svg-container">
          <svg-icon icon-class="password" />
        </span>
        <el-input v-model="registerForm.repassword" name="repassword" type="text" placeholder="repassword" />
      </el-form-item>
      <el-form-item>
        <el-button :loading="loading" type="primary" style="width:100%;" @click.native.prevent="handleRegistered">
          立即注册
        </el-button>
      </el-form-item>
      <div class="tips">
        <span style="cursor:pointer" @click="clickLogin"> 已有账号，立即登录</span>
      </div>
    </el-form>
    <div class="footer" onclick="window.location.href='https://beian.miit.gov.cn/';return false">冀ICP备2021008346号</div>
  </div>
</template>

<script>
// import { isvalidUsername } from '@/utils/validate'
import user from '@/api/user'
export default {
  name: 'Login',
  data() {
    const validateUsername = (rule, value, callback) => {
      if (value.length < 2) {
        callback(new Error('请输入正确的用户名'))
      } else {
        callback()
      }
    }
    const validatePass = (rule, value, callback) => {
      if (value.length < 5) {
        callback(new Error('密码不能小于5位'))
      } else {
        callback()
      }
    }
    const validateRegisterUsername = (rule, value, callback) => {
      if (value.length < 2) {
        callback(new Error('请输入正确的用户名'))
      } else {
        if (this.allName.indexOf(value.trim()) >= 0) {
          callback(new Error('用户名不允许重复'))
        } else {
          callback()
        }
      }
    }
    const validateRegisterPass = (rule, value, callback) => {
      if (value.length < 5) {
        callback(new Error('密码不能小于5位'))
      } else {
        if (this.registerForm.repassword !== '' && this.registerForm.repassword !== value) {
          callback(new Error('两次密码不一致'))
        } else {
          callback()
        }
      }
    }
    const validateRegisterRePass = (rule, value, callback) => {
      if (value.length < 5) {
        callback(new Error('密码不能小于5位'))
      }
      if (value !== this.registerForm.password) {
        callback(new Error('两次密码不一致'))
      } else {
        callback()
      }
    }
    return {
      loginForm: {
        username: '',
        password: ''
      },
      loginRules: {
        username: [{ required: true, trigger: 'blur', validator: validateUsername }],
        password: [{ required: true, trigger: 'blur', validator: validatePass }]
      },
      registerForm: {
        username: '',
        password: '',
        repassword: ''
      },
      registerRules: {
        username: [{ required: true, trigger: 'blur', validator: validateRegisterUsername }],
        password: [{ required: true, trigger: 'blur', validator: validateRegisterPass }],
        repassword: [{ required: true, trigger: 'blur', validator: validateRegisterRePass }]
      },
      loading: false,
      pwdType: 'password',
      redirect: undefined,
      showLogin: true,
      allName: null
    }
  },
  watch: {
    $route: {
      handler: function(route) {
        this.redirect = route.query && route.query.redirect
      },
      immediate: true
    }
  },
  methods: {
    getAllName() {
      user.getAllName().then(response => {
        this.allName = response.data
      })
    },
    clickRegistered() {
      this.getAllName()
      this.showLogin = false
    },
    clickLogin() {
      this.showLogin = true
    },
    showPwd() {
      if (this.pwdType === 'password') {
        this.pwdType = ''
      } else {
        this.pwdType = 'password'
      }
    },
    handleLogin() {
      this.$refs.loginForm.validate(valid => {
        if (valid) {
          this.loading = true
          this.$store.dispatch('Login', this.loginForm).then((response) => {
            if (response.code !== 20000) {
              this.$message({
                type: 'warning',
                message: response.message
              })
              this.loading = false
            } else {
              this.loading = false
              this.$router.push({ path: this.redirect || '/' })
            }
          }).catch(() => {
            this.loading = false
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    },
    handleRegistered() {
      this.$refs.registerForm.validate(valid => {
        if (valid) {
          this.loading = true
          this.$store.dispatch('Register', this.registerForm).then(() => {
            this.loginForm.username = this.registerForm.username
            this.loginForm.password = this.registerForm.password
            this.showLogin = true
            this.loading = false
            this.$router.push({ path: this.redirect || '/login' })
          }).catch(() => {
            this.loading = false
          })
        } else {
          console.log('error submit!!')
          return false
        }
      })
    }
  }
}
</script>

<style rel="stylesheet/scss" lang="scss">
$bg:#2d3a4b;
$light_gray:#eee;

/* reset element-ui css */
.login-container {
  .el-input {
    display: inline-block;
    height: 47px;
    width: 85%;
    input {
      background: transparent;
      border: 0px;
      -webkit-appearance: none;
      border-radius: 0px;
      padding: 12px 5px 12px 15px;
      color: $light_gray;
      height: 47px;
      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px $bg inset !important;
        -webkit-text-fill-color: #fff !important;
      }
    }
  }
  .el-form-item {
    border: 1px solid rgba(255, 255, 255, 0.1);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    color: #454545;
  }
}

</style>

<style rel="stylesheet/scss" lang="scss" scoped>
$bg:#2d3a4b;
$dark_gray:#889aa4;
$light_gray:#eee;
.login-container {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: $bg;
  .login-form {
    position: absolute;
    left: 0;
    right: 0;
    width: 520px;
    max-width: 100%;
    padding: 35px 35px 15px 35px;
    margin: 120px auto;
  }
  .tips {
    font-size: 14px;
    color: #fff;
    margin-bottom: 10px;
    span {
      &:first-of-type {
        margin-right: 16px;
      }
    }
  }
  .svg-container {
    padding: 6px 5px 6px 15px;
    color: $dark_gray;
    vertical-align: middle;
    width: 30px;
    display: inline-block;
  }
  .title {
    font-size: 26px;
    font-weight: 400;
    color: $light_gray;
    margin: 0px auto 40px auto;
    text-align: center;
    font-weight: bold;
  }
  .show-pwd {
    position: absolute;
    right: 10px;
    top: 7px;
    font-size: 16px;
    color: $dark_gray;
    cursor: pointer;
    user-select: none;
  }
}
</style>
